@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  /*typography*/
  --yeseva: "Yeseva One";
  --nunito: "Nunito Sans";
  /*sizes*/
  --max-width: 1256px;
  /*colors*/
  --white: #ffffff;
  --black: #131313;
  --black-fancy: #181818;
  --peach: rgb(227, 184, 115);
}

.o-text-overall {
  font-family: var(--nunito);
  font-weight: 400;
  text-align: left;
}

.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--peach);
  border: 0;
  border-radius: 2px;
  font-family: var(--nunito);
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.head-group__button {
  display: inline-flex;
  height: 51px;
  width: 207px;
  padding-right: 23px;
  padding-left: 22px;
  margin-right: 20px;
}

.head-group__button-transparent {
  border: 1px solid var(--white);
  margin: 0;
  background: rgba(227, 184, 115, 0);
}

.head-group__button:hover,
.head-group__button-transparent:hover {
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.link {
  text-decoration: none;
  color: var(--white);
  font-family: var(--nunito);
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
}

.link:active,
.link:hover {
  color: var(--peach);
}

.title {
  font-family: var(--yeseva);
  font-size: 27px;
  font-weight: 400;
  line-height: 37px;
  color: var(--peach);
  text-transform: uppercase;
}

.logo {
  color: var(--peach);
  min-width: max-content;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  flex-shrink: 2;
}

.header {
  background-color: black;
  overflow: hidden;
  padding: 18px;
}

.header__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 67.5px;
  row-gap: 32px;
  max-width: var(--max-width);
  min-height: 83px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  width: 100%;
  max-width: 581.43px;
  /* margin: 0 auto; */
}

.header-nav__list {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.header__right-side-wrapper {
  /* margin: 0 auto; */
}

.contact-group__phone {
  display: inline-block;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: var(--peach);
  min-width: 107px;
  margin-right: 45px;
  flex-shrink: 0;
}

.contact-group__button {
  display: inline-block;
  height: 37px;
  width: 161px;
}

.head-group {
  background-image: url("../images-content/head-section-image.png");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  padding-left: 134px;
  position: relative;
  box-sizing: border-box;
}

.head-group__overlay {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.head-group__container {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  position: relative;
  z-index: 1;
}

.head-group__title {
  max-width: 515px;
  margin-bottom: 19px;
  font-family: var(--yeseva);
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
}

.head-group__title-white {
  color: white;
}
.head-group__tagline {
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 41px;
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: var(--white);
}

.completed-projects {
  display: flex;
  height: 1074px;
  padding-top: 107px;
  background-color: #131313;
}
.completed-projects__container {
  margin: 107px auto 0;
  max-width: 1171px;
  height: 482.38px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 246px 246px repeat(4, auto);
  grid-template-rows: repeat(8, auto);
}

.completed-projects__title {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 253px;
  margin: 0;
  margin-bottom: 34px;
}
.completed-projects__text {
  grid-column: 1/3;
  grid-row: 3/4;
  height: 86px;
  width: 442px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white);
  margin: 0;
  margin-right: 50px;
  margin-bottom: 42px;
}
.info-block-1:nth-of-type(odd) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.info-block-1:nth-of-type(even) {
  grid-column: 2/3;
  grid-row: 4/5;
}
.info-block-2:nth-of-type(odd) {
  grid-column: 1/2;
  grid-row: 5/6;
}
.info-block-2:nth-of-type(even) {
  grid-column: 2/3;
  grid-row: 5/6;
}

.info-block__title {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 9px;
  text-align: left;
}

.info-block__text {
  font-size: 13px;
  line-height: 21px;
  color: var(--white);
  margin: 0;
  margin-bottom: 34px;
}

.slideshow-controls {
  grid-column: 1/5;
  grid-row: 6/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13.28px;
  width: 205.68px;
  margin-top: 47.1px;
}

.dot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9.57px;
  min-width: 63.78px;
  column-gap: 17.54px;
  margin: 0 29.5px;
}
.prev,
.next {
  all: unset;
  cursor: pointer;
  user-select: none;
}

.prev_mob {
  display: none;
}
.next_mob {
  display: none;
}

.dot-indicator {
  all: unset;
  min-height: 9.57px;
  min-width: 9.57px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.dot-indicator_active {
  min-height: 9.57px;
  min-width: 9.57px;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
}

.slideshow-captions {
  grid-column: 3/-1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 623px;
  height: 24px;
  gap: 60.5px;
  margin-bottom: 45.36px;
  list-style: none;
}

.caption-text {
  font-family: var(--yeseva);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 6.08px;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.caption-text_active {
  margin: 0;
  font-family: var(--yeseva);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  padding-bottom: 6.08px;
  border-bottom: 1px solid rgba(227, 184, 115, 1);
  color: var(--peach);
}

.slideshow-container {
  height: 482.38px;
  width: 679px;
  background-color: rgba(196, 196, 196, 1);
  filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
  grid-column: 3/-1;
  grid-row: 2/7;
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.slideshow-image_1,
.slideshow-image_2,
.slideshow-image_3 {
  object-fit: cover;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-image_1_mob,
.slideshow-image_2_mob,
.slideshow-image_3_mob {
  display: none;
}

.surveillance-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -420px;
}

.surveillance-section__heading-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 92px;
  margin-bottom: 31.61px;
  height: 66.79px;
  width: 196px;
}

.heading-3 {
  font-family: var(--yeseva);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #181818;
}

.heading-3_theme-white {
  color: var(--white);
  margin-bottom: 14px;
}

.repair-section__heading {
  min-width: 100%;
  margin-bottom: 12.79px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img-CCTV {
  height: 28px;
  width: 32.76px;
  margin: 0 9.5px;
}

.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 434px;
  max-width: 817px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62.5px;
}

.video {
  width: 100%;
}

.video[poster] {
  object-fit: cover;
  height: max-content;
}

.poster {
  position: relative;
  z-index: 0;
}

.video-overlay {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border: 0;
  padding: 0;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  background-color: var(--peach);
}

.play-button:hover {
  box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.play-button__icon {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0;
  padding-left: 6px;
  z-index: 3;
}

.play-button__icon:hover {
  transform: rotate(90deg);
}

.h-rule {
  margin: 0 auto;
  margin-bottom: 34.46px;
  background-color: rgba(227, 184, 115, 1);
  border: 0;
  padding: 0;
  height: 1.54px;
  width: 55px;
  border-radius: 30px;
}

.surveillance-section__text {
  width: 681px;
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin-bottom: 91.5px;
}

.request-form {
  display: flex;
  border: 0;
  margin: 0 auto;
}

/* .label {
  display: block;
} */

.label:hover {
  transform: rotate(-0.07deg);
}

.input-group {
  display: grid;
  grid-template-columns: 289px 280px auto;
  grid-template-rows: 51px 164px;
  padding: 0;
  row-gap: 33.24px;
  border: 0;
  width: 769px;
}

.request-form__input {
  margin-right: 0;
  margin-bottom: 4px;
  border: 0;
}

.request-form__input::placeholder {
  font-family: var(--nunito);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #363636;
}

.form-button {
  font-size: 13px;
  font-style: normal;
}

.form-button_1 {
  grid-row: 1/2;
  grid-column: 3/4;
  height: 51px;
  width: 200px;
  margin-left: auto;
}

.form-button_1:hover {
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.check {
  display: flex;
  align-items: center;
  border: 0;
}

.check_1 {
  grid-row: 2/3;
  grid-column: 1/-1;
  height: 18px;
  margin: 0 auto auto;
}

.check__input {
  width: 0px;
  height: 0px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  appearance: none;
}

.check__input:checked + .button {
  background-color: var(--peach);
}

.check__label {
  display: flex;
  align-items: normal;
  cursor: pointer;
  font-family: var(--nunito);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #181818;
  height: 16.24px;
}

.check__box {
  box-sizing: border-box;
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: var(--peach);
  color: #fff;
  justify-content: center;
  margin-right: 8px;
  border-radius: 1px;
  align-items: center;
  padding: 5px;
}

.check__input:checked + .check__box {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
  margin-right: 8px;
  border-radius: 1px;
  align-items: center;
  content: url("../images-interface/rtick.svg");
}

.request-form__label {
  width: 231px;
  margin-right: auto;
}

.request-form__label_1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.request-form__label_2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.input {
  display: block;
  width: 100%;
}

.input,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

.input__line {
  display: block;
  width: 231px;
  height: 1px;
  box-sizing: border-box;
  border: 1px solid rgba(54, 54, 54, 0.3);
}

.input:active + .input__line {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.input_theme-white {
  font-family: var(--nunito);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: rgba(54, 54, 54);
}

.label_text {
  font-family: var(--nunito);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: rgba(54, 54, 54, 0.5);
}

.repair-section {
  display: flex;
  margin-bottom: 242.09px;
  position: relative;
  z-index: 1;
  padding: 0 17px;
}

.repair-section__container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1440px;
  position: relative;
  z-index: 1;
}

.img-repair-section {
  margin-left: 9px;
  margin-right: 13px;
}

.card-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.repair-section__card-container {
  margin: 0 auto;
  margin-top: 31px;
  column-gap: 30px;
  margin-bottom: 120px;
}

.repair-section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min-content;
  width: 100%;
  position: relative;
}

.card-pic_wrapper {
  overflow: hidden;
  width: 100%;
  height: 421px;
  position: relative;
  z-index: 0;
}

.card__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 1s ease-in;
}

.repair-section__card:hover .card__pic {
  transform: scale(1);
}

.list-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 87%;
  min-width: 198px;
  height: 395px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  padding: 25px 9px 0 25px;
  transform: translateY(-10%);
  transition: all 1s ease-in;
}

.card__heading {
  font-family: var(--yeseva);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #363636;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}
.repair-section__card:hover .list-container {
  transform: translateY(0px);
}

.card__list {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #959595;
  padding-left: 16px;
  padding-bottom: 23px;
  margin: 0;
}

.card-summary_repair {
  position: absolute;
  min-width: max-content;
  width: 295px;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: var(--yeseva);
  font-size: clamp(0.75rem, 1.25rem, 1vw);
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  padding: 1.0625rem 1.5625rem;
  left: 0;
  bottom: -29.5px;
  cursor: default;
}

.repair-subsection {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 58px;
  padding: 0 17px;
}

.repair-subsection__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 24px;
  width: 100%;
  background: url("../images-content/architect-bg.png") no-repeat center bottom;
  background-size: contain;
}

.benefits {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  height: 509px;
  width: 506px;
  margin-top: auto;
  margin-bottom: 126.69px;
  padding: 28px 49px 27px 49px;
}

.repair-form-wrapper {
  margin-left: auto;
  flex-shrink: 0;
}

.benefit__item {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit__item > p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9.5px;
}

.item-nr {
  background: #e3b873;
  border: 8px solid #ffffff;
  border-radius: 30px;
  font-family: var(--yeseva);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  height: 41.76px;
  width: 41.76px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.item-nr:hover {
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.repair-subsection__form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 28px 49px 27px 49px;
  margin: 0;
  background-color: #131313;
  height: 509px;
  width: 506px;
}

.repair-subsection__form:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.form-label {
  height: 47px;
  width: 297px;
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  margin-top: 0;
  align-self: center;
  margin-bottom: 39px;
}

.input-wrapper {
  height: 50px;
  width: 408px;
  margin: 0;
  margin-bottom: 48px;
}

.repair-subsection__label {
  height: 47px;
  max-width: 297px;
  margin-bottom: 4px;
}

.label_theme-black {
  font-family: var(--nunito);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.check__label_theme-black {
  cursor: pointer;
  font-family: var(--nunito);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: var(--white);
}

.repair-subsection__input {
  padding: 0;
  margin: 0;
}

.input_theme-black {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--white);
  background-color: transparent;
  caret-color: var(--peach);
}

.input_theme-black::placeholder {
  font-family: var(--nunito);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--white);
}

.check_2 {
  height: 16.23px;
  margin-top: -30.24px;
  margin-bottom: 39px;
}

.form-button_2 {
  align-self: flex-end;
  padding: 0 15px;
  margin: 0;
  border-radius: 0px;
  height: 51px;
}

.form-button_2:hover {
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.cost-saver {
  display: flex;
  column-gap: 25px;
  align-items: center;
  justify-content: start;
  height: 72px;
  margin: 0 auto;
  margin-top: 38.44px;
}

.cost-saver__bgr {
  height: 72px;
  width: 72px;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
  background-image: url("../images-content/Group.png");
  background-repeat: no-repeat;
  background-position: 50% 24%;
}

.cost-saver__text {
  color: var(--peach);
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.style-section {
  height: 864px;
  background-image: url("../images-content/style-sect-bgr.png");
  background-repeat: repeat;
  position: relative;
  margin-bottom: 110.47px;
}

.style-section__overlay {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -o-linear-gradient(
    340.2deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  background: linear-gradient(
    109.8deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 0;
}

.style-section__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
}

.style-section__heading {
  position: absolute;
  top: 94px;
  left: 3%;
  bottom: 660.53px;
  height: 66px;
  width: 380px;
  max-width: 40%;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  z-index: 1;
}

.list-wrapper {
  position: absolute;
  left: 3%;
  bottom: 97.53px;
  top: 250.47px;
  height: 516px;
}
.style-list {
  height: 515.99px;
  width: 299px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.style-list__item {
  box-sizing: border-box;
  font-family: var(--nunito);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  height: 70px;
  color: var(--white);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.style-list__item:hover {
  color: var(--peach);
}

.active {
  color: var(--peach);
  display: inline-block;
  text-decoration-line: underline;
  text-underline-offset: 10px;
  transform: translateX(-5px);
}

.slideshow-container__vertical {
  position: absolute;
  top: -112.53px;
  top: -85px;
  bottom: -41.2px;
  right: 1.25%;
  width: 57%;
  height: 1016px;
  overflow: hidden;
}

.inner-container__vertical {
  transition: transform 2s ease-in-out;
}

.slideshow-container__vertical::-webkit-scrollbar {
  display: none;
}
.masonry {
  width: 100%;
  height: 1016px;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 5%;
  scroll-snap-align: center;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.masonry_half__1,
.masonry_half__2 {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  height: 100%;
  row-gap: 3%;
}

.masonry_half__1 {
  transform: translateY(7%);
}

.masonry-item__big,
.masonry-item__small {
  width: 100%;
  object-fit: cover;
}

.masonry-item__big {
  height: 58.5%;
}

.masonry-item__small {
  height: 28.5%;
}

.slideshow-container_mob {
  display: none;
}

.client-section {
  position: relative;
  display: flex;
}

.client-section__container {
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.client-section__bg-container {
  display: flex;
  flex-direction: row-reverse;
  height: 449px;
  width: 50%;
  content: " ";
  background-image: url("../images-content/client-section-bgr.png");
  background-repeat: repeat;
  background-position: 0% 100%;
  position: absolute;
  left: 0;
  bottom: -16px;
  z-index: 0;
  opacity: 0.1;
}

.client-section__bg-container-transform {
  display: flex;
  flex-direction: row;
  height: 449px;
  width: 50%;
  content: " ";
  background-image: url("../images-content/client-section-bgr.png");
  background-repeat: repeat;
  background-position: 0% 100%;
  position: absolute;
  left: 50%;
  bottom: -16px;
  z-index: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  opacity: 0.1;
}

.client-section__heading-group {
  width: 476px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.client-section__heading {
  margin-bottom: 13.4px;
}

.client-section__tagline {
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}

.client-section__card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 376px));
  column-gap: 2%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 300px;
  padding: 0 17px;
}

.client-section__card {
  position: relative;
  padding-left: clamp(14px, 1vw, 27px);
  padding-right: clamp(17px, 1vw, 27px);
  box-sizing: border-box;
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 22px;
}

.card-header__pic {
  width: 76px;
  height: 76px;
  border-radius: 50px;
}

.card-header__heading {
  height: 42px;
  width: 178px;
  font-family: var(--yeseva);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin-left: 15px;
}

.card-text {
  font-family: var(--nunito);
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #959595;
}

.card-text:last-of-type {
  margin-bottom: 67px;
}

.card-summary {
  position: absolute;
  left: 0;
  bottom: -27px;
  height: 54px;
  width: 78%;
  max-width: 293px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--peach);
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  font-family: var(--yeseva);
  font-size: clamp(0.75rem, 1.25rem, 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--white);
}
.card-summary__area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 135.09px;
  border-right: #ffffff solid 0.3px;
}

.card-summary__days {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 158.36px;
}

.card-summary__text {
  display: inline-block;
}

.feedback-section {
  position: relative;
  margin-top: -226.64px;
  margin-bottom: -226.64px;
  display: block;
  width: 100%;
  z-index: 2;
}

.feedback {
  display: grid;
  grid-template-columns: repeat(2, 231px);
  grid-template-rows: auto auto auto auto auto;
  column-gap: 58px;
  row-gap: 46px;
  justify-content: center;
  align-items: center;
  padding: 34.4px;
  background: #181818;
  min-height: 445.32px;
  max-width: 833px;
  margin: 0 auto;
  box-sizing: border-box;
}

.input__line_feedback {
  display: block;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);
}

.input:active + .input__line_feedback {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.form-label_feedback {
  grid-column: 1/-1;
  grid-row: 1;
  font-family: var(--yeseva);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.input-wrapper_short-1 {
  grid-row: 2;
  grid-column: 1/2;
  width: 231px;
  height: 45px;
  display: block;
}

.input-wrapper_short-2 {
  grid-row: 2;
  grid-column: -1/-2;
  width: 231px;
  height: 45px;
  display: block;
}

.input-wrapper_long {
  grid-row: 3;
  grid-column: 1/-1;
  width: 516.82px;
  height: 45px;
}

.feedback__check {
  grid-row: 4;
  grid-column: 1/-1;
  justify-self: center;
}

.form-button_3 {
  grid-row: 5;
  grid-column: 1/-1;
  justify-self: center;
  height: 51px;
  width: 200px;
  border-radius: 0px;
}

.form-button_3:hover {
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}

.location-section {
  height: 953.89px;
  background-color: #181818;
  background-image: url("../images-content/contact-section.png");
  object-fit: contain;
  position: relative;
  z-index: 0;
}

.location-section__overlay {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(3.47%, rgba(24, 24, 24, 0.9)),
    to(rgba(24, 24, 24, 0.72))
  );
  background: -o-linear-gradient(
    top,
    rgba(24, 24, 24, 0.9) 3.47%,
    rgba(24, 24, 24, 0.72) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.9) 3.47%,
    rgba(24, 24, 24, 0.72) 100%
  );
  z-index: 1;
}

.location-section__container {
  margin: 0 auto;
  height: 953.89px;
  max-width: 1440px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.address {
  height: 51px;
  width: 589px;
  font-family: var(--yeseva);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--peach);
  margin-top: 274.67px;
  margin-bottom: 26px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  margin-bottom: 43.29px;
}

.round-button {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3b873;
}

.map {
  width: 100%;
  max-width: 925px;
  height: auto;
  background: #c4c4c4;
  object-fit: cover;
  margin: 0 auto;
  filter: grayscale(90%);
}

.footer {
  background-color: black;
}

.footer__container {
  max-width: 1256px;
  height: 133px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .completed-projects {
    display: flex;
    height: calc(1074px + 433px);
    padding-top: 107px;
    background-color: #131313;
  }
  .completed-projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    margin: 107px auto 0;
  }

  .completed-projects__title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    margin-bottom: 34px;
    width: unset;
  }
  .completed-projects__text {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    margin-bottom: 42px;
  }
  .info-block-1:nth-of-type(odd) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .info-block-1:nth-of-type(even) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .info-block-2:nth-of-type(odd) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .info-block-2:nth-of-type(even) {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .slideshow-captions {
    grid-column: 1/3;
    grid-row: 5/6;
    padding-left: 0;
    margin: 16px 0;
  }

  .slideshow-container {
    height: 482.38px;
    height: 100%;
    width: 679px;
    width: 100%;
    background-color: rgba(196, 196, 196, 1);
    filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
    grid-column: 1/3;
    grid-row: 6/7;
  }

  .slideshow-controls {
    grid-column: 1/3;
    grid-row: 7/8;
    justify-content: center;
    align-items: center;
    height: 13.28px;
    width: 100%;
    margin-top: 47.1px;
  }
}

@media (max-width: 920px) {
  .card-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .repair-section__card-container {
    column-gap: 0;
    row-gap: 59px;
  }

  .repair-section__card {
    height: 484px;
    width: 100%;
    max-width: none;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 0;
  }

  .card-pic_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  .card__pic {
    position: relative;
    z-index: 1;
    object-fit: cover;
    object-position: center;
  }

  .card__heading {
    font-family: var(--yeseva);
    font-size: 15px;
    font-weight: 400;
    line-height: 20.79px;
    text-align: left;
    color: #363636;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  .list-container {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 79.41%;
    max-width: 270px;
    height: 241px;
    padding: 21px 31px 37px 31px;
    margin: 0;
    transform: translateY(10%);
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }

  .repair-section__card:hover .list-container {
    opacity: 0;
  }

  .card__list {
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #959595;
    padding: 0;
    list-style-position: inside;
    height: 152px;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .card-summary_repair {
    width: 70.52%;
    margin: 0;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: var(--yeseva);
    font-size: 15px;
    line-height: 20.79px;
    color: var(--white);
    font-style: normal;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 0;
  }
}

@media (max-width: 900px) {
  .client-section {
    padding-bottom: 112px;
  }

  .card__summary {
    max-width: 293px;
  }
  .client-section__card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    row-gap: 5%;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 300px;
    padding: 0 17px;
  }
}

@media (max-width: 800px) {
  .o-text-overall {
    font-family: var(--nunito);
    font-weight: 400;
    text-align: left;
  }

  .head-group__button {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 100%;
    max-width: 400px;
    height: 51px;
  }

  .head-group__button-transparent {
    border: 1px solid #ffffff;
    margin: 0;
    background: rgba(227, 184, 115, 0);
  }

  .none {
    display: none;
  }

  .head-group__button:hover,
  .head-group__button-transparent:hover {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }

  .title {
    font-family: var(--yeseva);
    font-size: 22px;
    font-weight: 400;
    line-height: 30.49px;
    color: var(--peach);
    text-transform: uppercase;
  }

  .logo {
    color: var(--peach);
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .header {
    display: flex;
    background-color: black;
    padding: 17px;
  }

  .header__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-group__phone {
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: right;
    text-decoration-line: underline;
    color: var(--white);
    width: 107px;
    margin-right: 0;
  }

  .contact-group__button {
    display: none;
  }

  .head-group {
    background-image: url("../images-content/head-section-image.png");
    background-size: cover;
    height: 476px;
    padding: 85px 18px 61px;
    position: relative;
  }

  .head-group__overlay {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  .head-group__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .head-group__title {
    max-width: 100%;
    margin-bottom: 16px;
    font-family: var(--yeseva);
    font-size: 23px;
    font-weight: 400;
    line-height: 30.55px;
  }

  .head-group__title-white {
    color: white;
  }

  .head-group__tagline {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
    text-align: center;
  }

  .completed-projects {
    display: block;
    height: 776.5px;
    padding: 36px 18px 0;
    background-color: #131313;
    border: none;
  }

  .completed-projects__container {
    margin: 0;
    max-width: 100%;
    height: 672px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 88px auto auto auto auto;
  }

  .completed-projects__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 74.63%;
    height: 66px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 22px;
    text-align: center;
  }

  .completed-projects__text {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    height: 86px;
    width: 97.64%;
    max-width: 460px;
    font-size: 11px;
    font-weight: 400;
    line-height: 17.43px;
    color: var(--white);
    margin: 0 auto;
    margin-bottom: 36px;
    text-align: center;
  }

  .info-block-1:nth-of-type(odd) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .info-block-1:nth-of-type(even) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .info-block-2:nth-of-type(odd) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .info-block-2:nth-of-type(even) {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .info-block__title {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 9px;
  }

  .info-block__text {
    width: 58%;
    height: 37%;
    font-size: 11px;
    line-height: 14.94px;
    color: var(--white);
    margin: 0;
    margin-bottom: 27px;
  }

  .slideshow-controls {
    display: none;
  }

  .slideshow-captions {
    display: none;
  }

  .slideshow-container {
    display: block;
    height: 241px;
    width: 100%;
    background-color: rgba(196, 196, 196, 1);
    filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-bottom: 36.65px;
    position: relative;
    z-index: 0;
  }

  .slide {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .prev_mob {
    display: block;
    position: absolute;
    top: 42.53%;
    z-index: 3;
    left: 18px;
  }

  .next_mob {
    display: block;
    position: absolute;
    top: 42.53%;
    z-index: 3;
    right: 18px;
  }

  .slideshow-image_1,
  .slideshow-image_2,
  .slideshow-image_3 {
    display: none;
  }

  .slideshow-image_1_mob,
  .slideshow-image_2_mob,
  .slideshow-image_3_mob {
    display: block;
    position: relative;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 242px;
  }

  .surveillance-section {
    display: flex;
    height: auto;
    margin: 0;
    padding: 0 17px;
    background-color: #131313;
    border: none;
  }

  .surveillance-section__heading-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 31.61px;
    height: 73.79px;
    width: 224px;
    margin-bottom: 40.21px;
  }

  .heading-3 {
    font-family: var(--yeseva);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.49px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #181818;
  }

  .heading-3_theme-white {
    color: var(--white);
    margin-bottom: 14px;
  }

  .repair-section__heading {
    min-width: 100%;
    margin-bottom: 17px;
  }

  .surveillance-section__heading {
    color: var(--white);
  }

  .img-wrapper {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: 0 auto;
  }

  .img-CCTV {
    height: 28px;
    width: 32.76px;
    margin-right: 9.5px;
    margin-left: 9.5px;
  }

  .video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: min-content;
    width: 100%;
    margin-bottom: 28px;
  }

  .video-overlay {
    content: " ";
    position: absolute;
    display: block;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    border: none;
  }

  .play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border: 0;
    padding: 0;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    background-color: rgba(227, 184, 115, 1);
    padding: 12.62px 12.62px 12.19px px;
  }

  .play-button:hover {
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
  }

  .play-button__icon {
    width: 12.19px;
    height: 12.19px;
    position: relative;
    z-index: 3;
    padding-left: 3px;
  }

  .play-button__icon:hover {
    transform: rotate(90deg);
  }

  .h-rule {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 21.46px;
    background-color: rgba(227, 184, 115, 1);
    border: 0;
    padding: 0;
    height: 1.54px;
    width: 55px;
    border-radius: 30px;
  }

  .surveillance-section__text {
    height: 106.95px;
    width: 100%;
    font-family: var(--nunito);
    font-size: 11px;
    font-weight: 400;
    line-height: 18.68px;
    text-align: center;
    color: var(--white);
    margin-bottom: 61.5px;
  }

  .request-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 0;
    margin: 0;
  }

  /* .label {
    display: block;
  } */

  .label:hover {
    transform: rotate(-0.07deg);
  }

  .request-form__label {
    width: 100%;
    margin-right: 0;
  }

  .label_text {
    font-family: var(--nunito);
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }

  .input {
    display: block;
  }

  .input_theme-white {
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: rgba(54, 54, 54);
  }

  .input,
  textarea {
    outline: none;
    border: none;
    background-color: transparent;
  }

  .input__line {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    background: #ffffff;
  }

  .input:active + .input__line {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .input-group {
    padding: 0;
    display: grid;
    grid-template-rows: 108px 71.58px 80.43px auto;
    grid-template-columns: 1fr;
    row-gap: 0;
    border: 0;
    width: 100%;
  }

  .request-form__label_1 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .request-form__label_2 {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .request-form__input {
    margin-right: 0;
    border: 0;
    width: 100%;
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: var(--white);
  }

  .request-form__input::placeholder {
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: var(--white);
  }

  .form-button {
    font-size: 13px;
    font-style: normal;
    padding: 0;
  }

  .form-button_1 {
    grid-column: 1/-1;
    grid-row: 4/5;
    height: 51px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: -25.5px;
  }

  .form-button_1:hover {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  }

  .check {
    display: flex;
    border: 0;
  }

  .check_1 {
    grid-row: 3/4;
    height: 18px;
    width: 100%;
    max-width: 400px;
    margin: 0;
  }

  .check__input {
    width: 0px;
    height: 0px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    appearance: none;
  }

  .check__label {
    cursor: pointer;
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: var(--white);
  }

  .check__box {
    box-sizing: border-box;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    justify-content: center;
    margin-right: 8px;
    border-radius: 1px;
    align-items: center;
    padding: 5px;
  }

  .check__input:checked + .check__box {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    justify-content: center;
    margin-right: 8px;
    border-radius: 1px;
    align-items: center;
    content: url("../images-interface/rtick.svg");
  }

  .repair-section {
    display: flex;
    margin: 0;
    padding: 83px 18px 0 17px;
  }

  .repair-section__container {
    display: flex;
    margin: 0 0 266px 0;
    width: 100%;
    flex-flow: row wrap;
  }

  .img-repair-section {
    margin: 0;
  }

  .repair-subsection__container {
    display: none;
  }

  .input-wrapper {
    height: 50px;
    width: 408px;
    margin: 0;
    margin-bottom: 48px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  }

  .repair-subsection__label {
    height: 47px;
    width: 297px;
    margin-bottom: 4px;
  }

  .label_theme-black {
    font-family: var(--nunito);
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }

  .check__label_theme-black {
    cursor: pointer;
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: var(--white);
  }

  .repair-subsection__input {
    padding: 0;
    margin: 0;
  }

  .input_theme-black {
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: var(--white);
    background-color: transparent;
    caret-color: var(--peach);
  }

  .input_theme-black::placeholder {
    font-family: var(--nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: var(--white);
  }

  .repair-form-wrapper {
    height: 509px;
    width: 506px;
  }

  .style-section {
    position: relative;
    height: 173px;
    background-image: none;
    background-color: #181818;
    margin: 0;
    padding: 0 17px;
  }

  .style-section__overlay {
    display: none;
  }

  .style-section__container {
    max-width: 100%;
    /* height: 332px; */
    position: absolute;
    top: -211px;
    left: 17px;
    right: 18px;
    z-index: 1;
    display: block;
    justify-content: center;
    background-color: transparent;
  }

  .list-wrapper {
    display: none;
  }

  .style-section__heading {
    position: static;
    display: flex;
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;
    text-align: center;
  }

  .slideshow-container_mob {
    display: block;
    height: 242px;
  }

  .client-section {
    display: none;
  }

  .feedback-section {
    display: block;
    position: static;
    box-sizing: border-box;
    width: 100%;
    padding: 0 17px;
    margin: 0;
    height: 497px;
    background: #181818;
  }

  .slideshow-container__vertical {
    display: none;
  }

  .location-section {
    height: 525px;
    background-color: #181818;
    background-image: none;
    padding: 0 17px;
  }

  .location-section__overlay {
    display: none;
  }

  .location-section__container {
    margin: 0 auto;
    height: 525px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }

  .address {
    grid-row: 2/3;
    font-family: var(--yeseva);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.95px;
    text-align: center;
    text-transform: uppercase;
    color: var(--peach);
    width: 100%;
    flex-shrink: 1;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 23.65px;
    padding: 0 17px;
  }

  .contacts {
    grid-row: 3/4;
    margin: 0 auto;
    margin-bottom: 43.29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    column-gap: 15px;
  }

  .round-button {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3b873;
  }

  .map {
    grid-row: 1/2;
    height: 255px;
    width: 100%;
    background: #c4c4c4;
    margin: 0;
    margin-bottom: 41.79px;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 565px) {
  .header-nav {
    display: none;
  }
  .feedback {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    column-gap: 58px;
    row-gap: 46px;
    height: 376.52px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .input__line_feedback {
    display: block;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0;
    box-sizing: border-box;
    background: #ffffff;
  }

  .form-label_feedback {
    grid-row: 1;
    font-family: var(--yeseva);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }

  .input-wrapper_short-1 {
    grid-row: 2;
    width: 100%;
    height: 45px;
    display: block;
  }

  .input-wrapper_short-2 {
    grid-row: 3;
    width: 100%;
    height: 45px;
    display: block;
  }

  .input-wrapper_long {
    grid-row: 4;
    width: 100%;
    height: 45px;
  }

  .feedback__check {
    grid-row: 5;
    grid-column: 1/-1;
    justify-self: start;
  }

  .form-button_3 {
    grid-row: 6;
    height: 51px;
    width: 100%;
    max-width: 400px;
    border-radius: 0px;
  }

  .form-button_3:hover {
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  }

  .request-form {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .address {
    grid-row: 2/3;
    font-family: var(--yeseva);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
